@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    height: 100vh;
    background-image: linear-gradient(#d8c7ff, #19006c);
}
.main-card {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    border-radius: 20px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Blur effect for the frosted glass look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light white border for a subtle outline */
    padding: 20px 50px;
    width: 80%;
    margin: 5% auto;
    color: #f4f4f4;
}

/* --------------Main header -------------- */
.main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px #f4f4f4 solid;
}
.main-header-alt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px #19006c solid;
}
/* logo part */
.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo {
    width: 50px;
}
.logo-container h1 {
    margin-left: 5%;
    font-size: 30px;
    color: #19006c;
    text-decoration: none;
}
/* nav container */
.nav-container {
    display: flex;
    gap: 50px;
}
.nav-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    transition: ease-in-out;
}
.nav-item-alt {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #19006c;
    transition: ease-in-out;
}

.nav-item::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #19006c;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-item:hover::after {
    width: 100%;
}
.nav-item:hover {
    color: #19006c;
}
/* login part */
.login-container {
    display: flex;
    gap: 20px;
}
.login-link,
.signup-link,
.logout-btn,
.start-quiz-btn {
    padding: 8px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
}
.signup-link,
.start-quiz-btn {
    background-color: #19006c;
    border: none;
}

.login-link,
.logout-btn{
    background-color: transparent;
    border: 1px #19006c solid;
    color: #19006c;
}
.login-link:hover,
.logout-btn:hover {
    background-color: #19006c;
    color: #fff;
    border: none;
}
.profile-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-link {
    display: flex;
    align-items: center;
}
.user-icon {
    background-color: transparent;
    border: none;
    font-size: 40px;
    text-decoration: none;
    color: #19006c;
}

/* --------------Homepage-------------- */
.homepage {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    gap: 150px;
    border-bottom: 1px #f4f4f4 solid;
}
/* cta  */
.cta {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cta button {
    padding: 8px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #19006c;
    border: none;
    outline: none;
}
.cta button:hover {
    background-color: #fff;
    color: #19006c;
    border: 1px #19006c solid;
}
.cta h1 {
    font-weight: 600;
    color: #19006c;
}
/* topics */
.topics {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.topics h2 {
    font-weight: 500;
}
.topicscontainer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.topic {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    border-radius: 20px; /* Rounded corners */
    backdrop-filter: blur(10px);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #f4f4f4;
    cursor: pointer;
}
.topic p {
    font-size: 12px;
}
.topicicon {
    font-size: 40px;
    color: #301a7b;
    transition: 0.3s;
}
.topicicon:hover {
    color: #f4f4f4;
}
/* --------------Footer--------------*/
.footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: #f4f4f4;
}

.footer-icons {
    display: flex;
    gap: 20px;
}
.footer-icon {
    color: inherit;
    font-size: 20px;
}
.footer-icon:hover {
    color: #19006c;
}
.footer-nav-item {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    transition: ease-in-out;
}
.footer-nav-item:hover {
    color: #19006c;
}
.copy-right {
    color: inherit;
    font-size: 12px;
}
/* --------------Login page--------------*/

.login-card {
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    border-radius: 20px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Blur effect for the frosted glass look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 80%;
    height: 80vh;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
}

/* login component */
.login {
    width: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.login h1,
.signupform-card h1 {
    color: #19006c;
}
.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.input-icon-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.login-input {
    border: none;
    outline: none;
    background: transparent;
    padding-left: 20px; /* Make padding to prevent text overlap with icon */
    width: 250px; /* Or any suitable width */
}
.lined-text {
    width: 296px;
    color: #19006c;
    overflow: hidden; /* Ensures content does not overflow the boundaries */
    text-align: center; /* Centers the text */
    position: relative;
    white-space: nowrap; /* Prevents the text from wrapping */
}

.lined-text:before,
.lined-text:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 46%;
    height: 0.5px;
    background-color: #19006c; /* Set the color of the line here */
    transform: translateY(-50%);
}

.lined-text:before {
    left: 0;
}

.lined-text:after {
    right: 0;
}

.google-login-btn {
    background-color: #fff;
    border: none;
    color: #19006c;
    padding: 15px;
    border-radius: 20px;
    font-weight: 500;
    width: 296px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

/* signup component being used in the login page*/
.signup {
    width: 50%;
    background-color: #19006c;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #fff;
}
.signup-link-2 {
    width: 172px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    color: #19006c;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    text-align: center;
}
.signup-link-2:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.signupform-card {
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    border-radius: 20px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Blur effect for the frosted glass look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 35%;
    height: 80vh;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* --------------Quiz component--------------*/
.quiz-container {
    width: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px #000 solid;
}
.question {
    font-weight: 600;
}
.answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.answer {
    width: 100%;
    border: 1px grey solid;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.answer:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.answer.selected {
    background-color: #d8c7ff;
    border-color: #19006c;
}
.answer.correct {
    background-color: #c8e6c9; /* green for correct answers */
}

.answer.incorrect {
    background-color: #ffcdd2; /* pale red for incorrect answers */
}

/* --------------QuizPage-------------- */
.btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.next-btn,
.prev-btn {
    padding: 10px;
    width: 150px;
    background-color: #19006c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.nextBtn:hover,
.prevBtn:hover {
    background-color: #fff;
    color: #19006c;
    outline: 1px solid #19006c;
}
.quiz-progress {
    font-size: 12px;
    text-align: center;
}

/* --------------ResultsPage-------------- */
.results-container {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}
.result-title {
    padding-bottom: 10px;
    border-bottom: 1px #000 solid;
    text-align: center;
}
.result-info {
    border-bottom: 1px #000 solid;
    padding-bottom: 10px;
}
.correct-answer {
    text-align: right;
    margin-right: 10px;
}
/* --------------Quizlist Page-------------- */
/*quizlist page rootlayout*/
.quiz-list-layout {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Blur effect for the frosted glass look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light white border for a subtle outline */
    padding: 20px 50px;
    margin: 3% auto;
}
.quiz-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quiz-list h1 {
    text-align: center;
}
.quiz-list-card-container {
    width: 80;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* quizcard */
.quiz-list-card {
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    border-radius: 20px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Blur effect for the frosted glass look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light white border for a subtle outline */
    padding: 20px 40px;
    margin: 5% auto;
    width: 400px;
    color: #000;
}
.quiz-list-card-title {
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    color: #19006c;
    padding-bottom: 10px;
    border-bottom: 1px #301a7b solid;
    margin-bottom: 10px;
}
.quiz-list-card-subcategory{
    display: flex;
    gap: 10px;
}
.take-quiz-form{
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    border-radius: 20px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Blur effect for the frosted glass look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light white border for a subtle outline */
    padding: 20px 40px;
    margin: 0 auto;
    width: 700px;
    color: #000;
}
.take-quiz-form label {
    font-weight: bold;
    margin-right: 10px;
}
     
.take-quiz-form select, .take-quiz-form input[type="number"] {
    margin-top: 2px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: block;
    width: 95%;
}
.start-quiz-btn-container{
    display: flex;
    justify-content: center;
}
